<% if current_user.admin %>
    <%= link_to "New Attraction", new_attraction_path %>
<% end %>
<ul>
<% @attractions.each do |a| %>
    <li><%= link_to "Go on #{a.name}", attraction_path(a.id) if !current_user.admin %></li>
    <% if current_user.admin %>
        <li><%= link_to "Show #{a.name}", attraction_path(a.id) %></li>
    <% end %>
<% end %>
</ul>